mat-card-title, mat-card-subtitle, .mat-card-image {
  cursor: pointer;
}
.modal-logo{
  text-align: center;
  padding-bottom: 20px;
}

.modal-bottom-padding{
  padding-bottom: 30px;
  font-size: 11px;
}

.modal-bg{
  min-height: 80vh;
}

.input-container{
  width: 100%;
}

.bg{
  width: 100vw;
  height: 100vh;
  background: url('/assets/images/bg.jpeg') no-repeat center;
  background-size: cover;
}

.logo{
  text-align: center;
}

.pad-button-logo{
  padding-top: 20vh;
}

.button-margin-top{
  margin-top: 30px;
}
.button-margin-top2{
  margin-top: 10px;
}