<div fxLayout="row" class="bg">
  <div fxFlex="10" fxFlex.gt-sm="20"></div>
  <div fxFlex="90" fxFlex.gt-sm="80" class="full-center">
    <div class="half">
      <img alt="" src="/assets/images/jack.png" />

      <h1 class="header__title language-link">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt </h1>
      <div class="text--center pad-button-logo">
        <button mat-flat-button class="button__purple">LET’S START</button>
      </div>

    </div>



    <ng-template #loading>
      <app-hero-loading></app-hero-loading>
    </ng-template>
  </div>
  <div fxFlex="10" fxFlex.gt-sm="20"></div>
</div>
