  
  .bg{
    width: 100vw;
    height: 100vh;
    background: url('/assets/images/discovery.jpeg') no-repeat center;
    background-size: cover;
    background-position: center -30vh;
  }


  .wrap-description{
    margin: 20px 15vw 20px 15vw!important;
  }

  .onboard-slide{
    // max-width: 100vw;
    //border:1px solid #ff0000
  }
  
  .half{
    text-align: center;
    position: fixed;
    top: auto;
    bottom:0;
    left: 0;
    width: 100vw;
    height: 50vh;
    background-color: #FFFFFF; 
    img{
        margin-top: -80px!important;
    };
    h1{
        margin-left: 20px;
        margin-right: 20px;
        color: #9A9A9A;
    }
    
}
    
  .pad-button-logo{
    padding-top: 10vh;
  }