<div fxLayout="row" class="modal-bg">

  <div fxFlex="100" class="full-center">


    <mat-dialog-content class="mat-typography">
      <div fxFlex="100" class="full-center">
        <div class="half">
          <img alt="" src="/assets/images/raphael.png" />
          <h1 class="header__title credits language-link">
            <p>
              Raphael Strada<br/>
              UX Engineer @B-Yond Company
            </p>
            <p>
              <a href="http://linkedin.com/in/raphaelstrada/" target="_blank">linkedin.com/in/raphaelstrada/</a>
            </p>
            <hr/>
            <a href="https://xd.adobe.com/view/7479c58f-984b-46d6-a0a3-d9e96235fc3f-212a/?fullscreen" target="_blank">See the design process, wireframes and mockups</a>
          </h1>


          <div class="text--center pad-button-logo">
            <button mat-flat-button class="button__purple" (click)="goHome()">THANK YOU</button>
          </div>

        </div>
      </div>

    </mat-dialog-content>

  </div>

</div>
