// Descriptive Colors
$white: #ffffff;
$purple: #ab56e4;
$red: #ee15be;
$grey: #bbbbbb;
$light-grey: #DEDEDE;
$dark-grey: #707070;
$black: #1B140C;

// Functional Colors
$primary--color: $purple;
$secondary--color: $white;
