@import "mixins";

* {
  @include font-roboto();
  // @include font-quicksand();

}

body {
  background-color: $black !important;
}

.debug {
  border: 1px solid #FF0000;
}

.full-size-width {
  width: 100%;
}

.upper-white-small {
  color: $light-grey;
  font-size: 11px;
  font-family: "Roboto";
  text-transform: uppercase;
}

.album-list-container {
  padding: 20px 0px 0px 0px;

}

.upper-purple-small {
  color: $purple;
  font-size: 11px;
  font-family: "Roboto";
  text-transform: uppercase;
}

.artist-title {
  color: $light-grey;
  font-size: 30px;
  font-family: "Quicksand";
  text-transform: uppercase;
}

.artist-title-small {
  color: $light-grey;
  font-size: 22px;
  font-family: "Quicksand";
  text-transform: uppercase;
}

.mat-flat-button,
.mat-stroked-button {
  height: 48px !important;
  min-width: 100px !important;
  font-size: 14px !important;
  text-transform: uppercase;
  font-weight: 400;
}



a,
.cp {
  cursor: pointer;
}

h1,
h2 {
  margin-bottom: 2rem;
}

.header__title {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  padding: 1rem 0 0;
}

.flex-spacer {
  flex-grow: 1;
}

.progress__spinner {
  height: calculateRem(60px) !important;
  @include push--auto(2rem);
}

.hero-actions {
  align-items: center;
  display: flex;
  padding-bottom: 1rem;
}

.icon__like--red {
  color: $red;
  cursor: pointer;
}

.icon__like--grey {
  color: $grey;
  cursor: pointer;
}

.text--upper {
  text-transform: uppercase;
}

.text--center {
  text-align: center;
}

.text--legend {
  color: $dark-grey;
  font-size: 11px;
  font-family: "Roboto";
}
.text--regular {
  color: $dark-grey;
  font-size: 14px;
  font-family: "Roboto";
}

.credits {
  p {
    color: $dark-grey;
    font-size: 11px;
    font-family: "Roboto";
  }
  a{
    color: $red;
    font-size: 13px;
    font-family: "Roboto";
  }
}

.text--right {
  text-align: right;
}

pre {
  background: $light-grey;
  border: 1px solid $grey;
  border-left: 3px solid $primary--color;
  color: $primary--color;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: calculateRem(15px);
  line-height: 1.6;
  margin-bottom: 1.6rem;
  max-width: 100%;
  overflow: auto;
  padding: 1rem 1.5rem;
  display: block;
  text-align: left;
  word-wrap: break-word;
}

.mat-dialog-container {
  background-color: #FFF !important;
  color: #383838 !important;
  min-width: 80vw;
  font-size: 11px;
}

.full-center {
  align-self: center;
  //height: 50vw;
}

.full-height {
  //align-self: flex-end;
}

.offline-error {
  font-size: 1rem;
  font-weight: 300;
  padding: 1rem;
  text-align: center;

  span {
    transform: rotate(90deg);
    font-size: 0.8rem;
    display: inline-flex;
  }
}

.button__purple {
  width: 80%;
  background-color: $red;
  color: #FFFFFF;
}

.button__white {
  width: 80%;
  background-color: #FFFFFF;
  color: $red;
}

.language-link {
  color: white;
  text-decoration: none;
  font-weight: 400;
  display: block;
}

// MATERIAL
@import "material";
